body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable-icon{
  cursor: pointer;
}

.home-container{
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display:flex;
  justify-content:center;
  text-align: center;
  background-color:lightgray;
}

.home-content{
  max-width: 95%;
  min-height: 100vh;
  width:100%;
  display: inline-block;
  text-align: left;
  background-color: white;
  box-shadow: 0px 0px 15px 10px;
  padding: 30px 50px 30px 50px;
}

.btn.btn-primary{
  background-color: #B22222;
  border-color: #B22222;
  box-shadow: none;
  margin-left: 3px;
}

.btn.btn-primary:hover{
  background-color: #FF6347;
  border-color: #FF6347;
  box-shadow: none;
}

.blog-info{
  border-right: 2px solid gray;
}

.blog-info img{
  max-height:200px;
}

.blog-info .image-container{
  text-align:center;
}

.add-content-block{
  width: 100%;
  text-align: center;
  margin: 5px;
}

.add-content-block .icon{
  padding: 5px 10px;
  background-color: #B22222;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.content-block{
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

.content-block .delete{
  font-size: 1.5em;
}

.content-block .content-block-data{
  padding: 15px 3px 15px 3px;
}

.content-block .blog-images{
  width: 100%;
  text-align:center;
  align-items: top;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.content-block .blog-images>div{
  display: inline-block;
  width: 19%;
  margin: 2px;
}

.blog-info .author{
  display: inline-flex;
  border: 1px solid RGBA(0,0,0,0.3);
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.blog-info .author img{
  display: inline-block;
  border-radius: 50%;
  max-width: 70px;
}

.blog-info .author p{
  display: inline-block;
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
}

.modal.show .modal-dialog {
  width: 80%;
  max-width: 100%;
}