body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container{
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display:flex;
  justify-content:center;
  text-align: center;
  align-items:center;
}

.home-content{
  max-width: 800px;
  width:100%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px;
  padding: 30px 50px 30px 50px;
}

.btn.btn-primary{
  background-color: #B22222;
  border-color: #B22222;
  box-shadow: none;
  margin-left: 3px;
}

.btn.btn-primary:hover{
  background-color: #FF6347;
  border-color: #FF6347;
  box-shadow: none;
}

.spinner i{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.header{
  background-color: #B22222;
  color: white;
  text-align:center;
  padding: 5px;
}

.header p, .footer p{
  margin: 0;
}

.footer {
  position: fixed; 
  bottom:0%;
  width:100%;
  background-color: #B22222;
  color: white;
  text-align:center;
  padding: 5px;
  z-index: 2;
}

.footer p{
  margin: 0;
}

.footer .copyright{
  display: inline-block;
  margin: 15px;
}

.menu-item,
.clickable-div,
a.nav-link, a {
  color: #b22222;
  cursor: pointer;
}

.menu-item:focus,
.clickable-div:focus,
a:focus,
.menu-item:active,
.clickable-div:active,
a:active,
.menu-item:hover,
.clickable-div:hover,
a:hover {
  color: #FF6347;
}

a, h1, h2, h3, h4, h5, h6, i, li, ol, p, table, td, tr, ul, div {
  font-family: "Noto Sans JP",sans-serif;
}

html, body, body #root, body #root .app-container,
body #root .app-container .account-container{
  height: 100%;
}

.account-content>div.row{
  margin-right:0;
  margin-left:0;
}

.account-content>div.row>div.dashboard-menu{
  background-color: #f2f2f2;
}

body #root .app-container .account-container .account-area{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.account-container .account-content{
  flex-grow: 1;
}

.account-container .account-content .row{
  height: 100%;
}


.dashboard-menu .menu-item{
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
}

.dashboard-menu .menu-item .icon{
  text-align: center;
  padding-right:0;
}

.dashboard-menu .menu-item .name{
  padding-left: 0;
}

.app-container{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.account-container{
  display:flex;
  justify-content:center;
  text-align: center;
  align-items:center;
}

.account-area{
  width: 70%;
  display: inline-block;
  text-align: left;
  background-color: white;
  box-shadow: 0px 0px 15px 10px;
}

.footer{
  width: 70%;
}

.dashboard-container{
  padding: 30px;
}

.success{
  color: #4BB543;
  font-weight: bold;
}

.error{
  color: #B22222;
  font-weight: bold;
}

.paginator{
  text-align: center;
}

.paginator .item{
  display: inline-block;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: #B22222;
  color: white;
  margin: 5px;
  border-radius: 3px;
}

.paginator .item.item-inactive{
  background-color: #FA8072;
  cursor:default;
}

.paginator .item p{
  margin: 0;
}

.paginator .item:hover{
  background-color: #FA8072;
}

.list-items .list-item.disabled{
  background-color: #faf8f7;
}

.list-items .list-item{
  padding-top: 1rem;
}

.list-items .list-item>hr{
  margin-bottom: 0;
}

.list-items .list-item:nth-child(odd) {
  background: #faf8f7;
}