@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.carousel h3,
.carousel p{
  color: white;
  text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}

.landing-page-container p, .landing-page-container li{
  font-size: 1.5rem;
}

.landing-page-container .carousel,
.carousel-image-container,
.landing-page-container .carousel-item{
  max-height: 60vh;
}

.landing-page-container .carousel-item{
  width: 100vw;
}

.carousel-image-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image-container img{
  display: inline-block;
  filter: brightness(70%);
}

.header{
  width: 70%;
  margin:auto;
  padding-bottom: 3px;
  padding-top: 3px;
}

.header-container{
  width: 100%;
  border-bottom: #B22222 8px solid;
}

.header img{
  max-width: 100%;
}

.menu-col{
  display: flex;
}

.mobile-menu-button-col,
.menu-col-mobile,
.menu.mobile-menu{
  display: none;
}

.menu.desktop-menu{
  width: 100%;
  text-align: right;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: right;
  align-content: center;
  vertical-align: center;
}

.menu.desktop-menu .menu-item{
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  color: black;
  cursor: pointer;
}

.menu.desktop-menu .menu-item p{
  margin: 0;
  font-size: 1.5em;
}

.menu.desktop-menu .menu-item:hover{
  color: #B22222;
}

.content-container{
  padding-bottom: 30px;
}

.content{
  width: 70%;
  margin: auto;
}

.footer{
  color: white;
  width: 70%;
  margin:auto;
}

.footer-container{
  background-color: #B22222;
  padding: 15px 30px 15px 30px;
}

.footer p{
  padding: 0;
  margin: 0;
}

.team-members .team-member a{
  text-decoration: none;
  color: black;
}

.team-members .team-member{
  text-align:center;
  padding: 30px;
}

.team-members .team-member img{
  width: 100%;
  max-width:400px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.section-header{
  text-align:center;
  font-size: 2.5em;
}

p, li, a, h1, h2, h3, h4, h5, input, button, div{
  font-family: Raleway;
}

@font-face {
	font-family: Raleway;  
	src: local('Raleway'), url("fonts/Raleway-Regular.ttf") format('ttf');  
	font-weight: normal;  
}

.contact input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 15px 0px 15px 0px;
}

.contact button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: white;
  background-color: #B22222;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact button:hover{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.contact .msg-alert{
  color: #B22222;
  display: inline-block;
  padding-left: 30px;
  font-size: 0.8em;
  font-weight: bold;
}

.contact{
  text-align:center;
}

.contact .form{
  max-width: 800px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.border-line{
  border-top: #B22222 8px solid;
  padding-top: 30px;
  background-color: #faf8f7;
}

.border-line-blog{
  border-top: #B22222 8px solid;
  padding-top: 30px;
}

.about-section{
  white-space: pre-line;
  padding: 20px 0px 20px 0px;
}

.about-section .container{
  width: 70%;
  margin: auto;
}

.about-section:nth-child(odd){
  background-color:#faf8f7;
}

.about-section i{
  font-size: 8em;
}


.about-section .title-icon{
  text-align: center;
  color: #B22222;
}

.menu-button-container{
  display: flex;
  width:100%;
  justify-content: right;
  align-content: center;
  align-items: center;
  vertical-align: center;
}

.menu-button{
  padding: 2px 7px 2px 7px;
  color: #B22222;
  border: 2px solid #B22222;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 30px;
}

.blogs{
  width: 70%;
  margin:auto;
  padding-bottom: 30px;
}

.blogs .blog-row>div{
  padding-bottom: 30px;
}

.blog-item{
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
  height: 100%;
}

.blog-item .blog-thumbnail{
  width: 100%;
  height: 200px;
  display:flex;
  justify-content: right;
  background-position: center;
  background-size: cover;
}

.blog-item .blog-thumbnail .details{
  display: flex;
  align-self: flex-end;
  color: white;
  padding: 5px;
  background-color: rgba(0,0,0,0.8);
  font-size: 0.8em;
}

.blog-item .title{
  font-size: 2em;
  width: 100%;
  padding: 15px;
}

.blog-item .text{
  padding: 15px;
}

.blog-item .text .excerpt{
  font-size: 0.9em;
}

.blog-item .text .read-more{
  font-size: 0.9em;
  font-weight: bold;
  color: #B22222;
}

.blog-section{
  padding-top: 30px;
}

.blog-section .view-all-container{
  text-align:center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-section .view-all{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: white;
  background-color: #B22222;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.blog-section .view-all:hover{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2); 
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.social-media-links{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.social-media-links>a{
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 4rem;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}

.social-media-links>a.facebook-link{
  color: #1877f2
}

.social-media-links>a.twitter-link{
  color: #1da1f2
}

.social-media-links>a.linkedin-link{
  color: #0a66c2
}

.social-media-links>a.discord-link{
  color: #5865f2
}

.single-blog{
  width: 70%;
  margin:auto;
  padding-bottom: 3px;
  padding-top: 3px;
}

.single-blog .images{
  text-align:center;
  width: 100%;
}

.single-blog .images .image{
  display: inline-block;
  padding: 20px;
}

.single-blog .images .image p{
  font-style: italic;
}

.single-blog .images .image img{
  max-width: 100%;
  max-height: 400px;
}

.single-blog .blog-meta .author-image{
  max-width: 80px;
  border-radius: 50%;
  float:left;
  margin-right: 20px;
}

.single-blog .blog-content .subtitle{
  padding-top: 30px;
  padding-bottom: 15px;
  border-top: 1px solid;
}

.single-blog .blog-content .line{
  border-top: 1px solid;
  padding-bottom: 30px;
}


.single-blog .blog-content .heading{
  padding-top: 20px;
}

.banner-image-container{
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.single-blog .blog-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.single-blog .blog-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.single-blog .blog-content blockquote p {
  display: inline;
}

.single-blog .blog-resources .monsters{
  padding-top: 15px;
}

.single-blog .monster-resource .monster-meta{
  cursor: pointer;
  padding: 10px;
}

.single-blog .monster-resource .monster-meta p{
  margin-bottom: 0;
}

.single-blog .monster-resource .monster-data {
  border-top: 5px solid #ab914c;
  padding: 10px;
}

.single-blog .monster-resource {
  background-color: #f8f2d6;
  box-shadow: 0 0 5px #979aa4;
  border-top: 5px solid #ab914c;
  border-bottom: 5px solid#ab914c;
  margin-bottom: 15px;
}

.single-blog .blog-meta .blog-navigation{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.single-blog .blog-meta .blog-navigation.align-right{
  width: 100%;
  display:flex;
  justify-content: right;
}

.single-blog .blog-meta .blog-navigation a{
  color: #B22222;
  text-decoration: None;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .header{
    width: 100%;
    padding-bottom: 0px;
  }

  .single-blog .blog-meta .blog-navigation{
    width: 100%;
    display:block;
    text-align:center;
  }

  .single-blog .blog-meta .blog-navigation a{
    font-size: 1rem;
  }

  .menu.desktop-menu{
    display: None;
  }

  .mobile-menu-button-col{
    display: flex;
  }

  .menu-col-mobile{
    display: block;
  }

  .menu.mobile-menu{
    display: block;
    width: 100%;
  }

  .menu.mobile-menu .menu-item{
    text-align:center;
    text-decoration: none;
    background-color: #B22222;
    display: block;
    border-top: 3px white solid;
  }

  .menu.mobile-menu .menu-item p{
    margin: 0;
    font-size: 1.5em;
    color: white;
  }
}

@media only screen and (max-width: 576px) {
  .slider-caption{
    display: none;
  }
}