body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable-icon, .clickable-icon-alt{
  cursor: pointer;
  margin: 15px;
}


.navigation-bg-dm {
  text-align: center;
  margin-bottom: 12px;
  border-bottom: solid 2px #B22222;
  -webkit-box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.4); 
  box-shadow: 0px 8px 6px -6px rgba(0,0,0,0.4);
}

.navigation-bg-dm .submenu{
  display: inline-block;
  padding: 0px 20px 0px 20px;
  text-align: center;
  font-size: 30px;
}

.navigation-bg-dm .submenu .dropdown-menu{
  padding: 10px;
  width: 300px;
}

.navigation-bg-dm .submenu .dropdown-menu .clickable-div{
  font-size: 20px;
  display: block;
}

.navigation-bg-dm .submenu .dropdown-menu .clickable-div span{
  display: inline-block;
  margin-right: 8px;
}

.navigation-bg {
  text-align: center
}

.navigation-bg a, .navigation-bg div{
  display: inline-block;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

.navigation-bg i{
  font-size: 80px
}

.navigation-bg hr{
  margin-top: 0px
}

p, h1, h2, h3, h4, h5, h6, a, i, li, ul, ol, tr, td, table{
  font-family: 'Noto Sans JP', sans-serif;
}

.clickable-div{
  cursor: pointer;
}

a, .collapsible .title, .clickable-icon, .clickable-div{
  color: #B22222
}

a:hover, .collapsible .title:hover, .clickable-icon:hover, .clickable-div:hover, .clickable-div.active{
  color: #FF6347
}

.clickable-icon-alt{
  color: white
}

.clickable-icon-alt:hover{
  color: lightgrey
}

.btn.btn-secondary{
  background-color: white;
  border-color: #FF6347;
  color: #FF6347;
  box-shadow: none;
  margin-left: 3px;
}


.btn.btn-secondary:hover{
  background-color: #FF6347;
  border-color: #FF6347;
  color: white;
  box-shadow: none;
  margin-left: 3px;
}

.btn.btn-primary{
  background-color: #B22222;
  border-color: #B22222;
  box-shadow: none;
  margin-left: 3px;
}

.btn.btn-primary:hover{
  background-color: #FF6347;
  border-color: #FF6347;
  box-shadow: none;
}

.page-container{
  margin: 0px 50px 0px 50px;
}

.collapsible .title{
  cursor: pointer;
}

.object-filter .btn,
.yt-downloader button, .create-campaign button, .create-encounter button, .monster_filters .btn,
.music_filters .btn, .create-collection button, .create-ally button, .collection_filters .btn,
.create-page button, .create-map button, .spell-filters .btn, .encounter_filters .btn,
.combat .modify .btn, .create-content-collection button, .content-collection-add button{
  margin-top: 32px;
}

.audio-items .audio-item .card{
  text-align: center;
}

.audio-items .audio-item .card-title{
  margin-bottom: 0;
}

.audio-items .audio-item .card-title.audio-status{
  font-size: 0.7em;
  color: lightgray;
}

.audio-items .audio-item .card-body{
  padding-top: 0;
}

.audio-items .card .icon{
  font-size: 3em;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #B22222;
}

.audio-items .audio-item{
  width: 20%;
  display: inline-block;
  padding: 5px;
}

.character-tracker .avatar{
  max-width: 80px;
}

.character-tracker .title{
  padding-top: 10px;
  font-size: 20px;
}

.character-tracker .title, .character-tracker i{
  display: inline-block;
}

.character-tracker .spinner{
  margin-top: 150px;
  text-align: center;
  width: 100%;
}

.character-tracker .spinner i{
  font-size: 4em;
}

.music-page .spinner i, .campaign-page .spinner i{
  font-size: 2em;
}

.spinner i{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.header{
  background-color: #B22222;
  color: white;
  text-align:center;
  padding: 5px;
}

.header p, .footer p{
  margin: 0;
}

.footer {
  position: fixed; 
  bottom:0%;
  width:100%;
  background-color: #B22222;
  color: white;
  text-align:center;
  padding: 5px;
  z-index: 2;
}

.footer p{
  margin: 0;
}

.footer .copyright{
  display: inline-block;
  margin: 15px;
}

.footer .audio-info{
  width: 100%;
  text-align: center;
}

.footer .audio-info .audio-control{
  display: inline-block;
  padding: 0 10px;
}

.footer i{
  font-weight: 600;
}

.row .cenetered-column{
  text-align:center;
}

a.btn.btn-primary{
  color: white;
}

.character-item img{
  max-width: 100%;
  max-height: 80px;
}

.ally-item img{
  max-width: 100%;
  max-height: 80px;
}

.btn-toggle .btn-active{
  opacity: 100 !important;
  background-color: #B22222  !important; 
  border-color: #B22222  !important;
  box-shadow: none  !important;
}

.btn-toggle .btn-disabled{
  background-color: #FF6347;
  border-color: #FF6347;
  box-shadow: none;
  opacity: 100;
}

.btn-toggle .btn-disabled:hover{
  background-color: #FA8072;
  border-color: #FA8072;
  box-shadow: none;
}

.fake-footer{
  width: 100%;
  padding: 50px;
}

.monster img{
  max-width:100%;
}

.monster .data{
  background-color: #f8f2d6;
  padding: 10px;
  box-shadow: 0 0 5px #979aa4;
  border-top: 5px solid #ab914c;
  border-bottom: 5px solid#ab914c;
  margin-bottom: 10px;
}

.monster h3{
  font-size: 1.5em;
}

.monster .image{
  text-align: center
}

.paginator{
  text-align: center;
}

.paginator .item{
  display: inline-block;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: #B22222;
  color: white;
  margin: 5px;
  border-radius: 3px;
}

.paginator .item.item-inactive{
  background-color: #FA8072;
  cursor:default;
}

.paginator .item p{
  margin: 0;
}

.paginator .item:hover{
  background-color: #FA8072;
}

.encounter-monster-item img{
  max-width: 80px;
}

.combat-members-items .combat-members-item{
  padding: 5px;
}

.combat-members-items .combat-members-item .card-body{
  padding: 5px;
}

.combat-members-items .combat-members-item .card{
  cursor: pointer;
}

.combat-members-items .combat-members-item .card:hover{
  box-shadow: 0 0 5px #979aa4;
}

.combat-members-items .combat-members-item .conditions i{
  display: inline-block;
  font-size: 0.7em;
  padding: 3px;
}

.combat-members-items .combat-members-item .card{
  overflow: hidden;
}

.combat-members-items .combat-members-item.viewing .card{
  border: #B22222 3px solid;
}

.combat-members-items .combat-members-item.active .status{
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent 1rem,
      #FFA500 1rem,
      #FFA500 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

.combat-members-items .combat-members-item .status{
  display:flex;
  justify-content:center;
  text-align: center;
  align-items:center;
}

.combat-members-items .combat-members-item .initiative>form{
  padding: 4px;
}

.combat-members-items.running .combat-members-item .status p{
  font-size: 22px;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.combat-members-items .combat-members-item .participant .avatar{
  text-align: center;
}

.combat-members-items .combat-members-item .participant img{
  max-width: 66px;
  padding: 2px;
}

.combat-controls{
  width:100%;
}

.combat-controls .combat-button{
  display: inline-block;
  margin: 2px;
}

.combat-controls .combat-button .btn.btn-primary{
  font-size: 16px;
}

.combat-members-items .combat-members-item.dead .status{
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent 1rem,
      #808080 1rem,
      #808080 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

.combat-members-items .combat-members-item.delayed .status{
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent 1rem,
      #dfc7c1 1rem,
      #dfc7c1 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.combat-members-items .combat-members-item .card-title{
  font-size: 0.9rem;
}

.combat-members-items.running .combat-members-item p{
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.single-combat-member-focus .btn-primary{
  margin: 5px;
}

.single-combat-member-focus img{
  max-width: 100%;
}

.single-combat-member-focus .conditions span{
  display: inline-block;
  margin: 2px;
  padding: 2px;
  color: #b7aaaa;
  cursor: pointer;
  border-radius: 5px;
}

.single-combat-member-focus .conditions span:hover{
  background-color: white;
}

.single-combat-member-focus .conditions span.active{
  background-color: #B22222;
  color:white
}

.single-combat-member-focus .conditions span.active:hover{
  background-color: #FA8072;
}

.single-combat-member-focus .focus-combat-member{
  background-color: #f8f2d6;
  padding: 10px;
  box-shadow: 0 0 5px #979aa4;
  border-top: 5px solid #ab914c;
  border-bottom: 5px solid#ab914c;
  margin-bottom: 10px;
}

.single-combat-member-focus .focus-combat-member .rename-combat-member input{
  display: inline-block;
  width: 75%;
}

.single-combat-member-focus .focus-combat-member .damage .controls form{
  max-width: 70px;
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.single-combat-member-focus .focus-combat-member .damage .controls i{
  display: inline-block;
  padding: 10px;
  color: #B22222;
  cursor: pointer;
}

.single-combat-member-focus .focus-combat-member .damage .controls i:hover{
  color: #ab914c;
}

.single-combat-member-focus .focus-combat-member .living-status i{
  display: inline-block;
  padding: 10px;
  color: #B22222;
  cursor: pointer;
}

.single-combat-member-focus .focus-combat-member .living-status i:hover{
  color: #ab914c;
}

.delayed-status i{
  display: inline-block;
  padding: 10px;
  color: #B22222;
  cursor: pointer;
}

.delayed-status i:hover{
  color: #ab914c;
}

.single-combat-member-focus .focus-combat-member h1{
  font-size: 1.8em;
}

.single-combat-member-focus .focus-combat-member h2{
  font-size: 1.2em;
}

.encounter .resource h2{
  font-size: 1.2em;
  font-weight: bold;
}

.encounter .monsters{
  font-size: 1.2em;
  font-weight: bold;
}

.encounter .music .card{
  display: inline-block;
  text-align: center;
}

.discord-tracker h1{
  font-size: 20px;
  padding-top: 10px;
}

.discord-tracker h2{
  font-size: 1.1rem;
  font-weight: bold;
}

.discord-tracker .messages .message p{
  white-space: pre-line;
}

.discord-tracker .messages .message .time{
  color: grey;
  font-size: 0.8rem;

}

.discord-tracker .messages{
  max-height: 60vh;
  overflow-y: scroll;
}

.difficulty-calculator .difficulty-calculator-player{
  margin: 10px;
}

.difficulty-calculator .difficulty-calculator-player select{
  max-width: 80px;
  margin-left: 5px;
}

.difficulty-calculator .difficulty-calculator-players{
  display: flex;
}

.difficulty-calculator h2{
  font-weight: bold;
  font-size: 1.2em
}

a.dice-roll-button{
  border-radius: 5px;
  padding: 2px;
  margin: 0px 2px 0px 2px;
  background-color: #B22222;
  cursor: pointer;
  color: white !important;
  display: inline-block;
}

a.dice-roll-button:hover{
  background-color: #FA8072;
}

.sidebar-navigation i{
  font-size: 30px;
}

.sidebar-navigation {
  text-align: center;
  border-bottom: 2px solid #B22222;
}

.sidebar-navigation div{
  display: inline-block;
  padding: 8px;
  text-align: center;
}

.sidebar-navigation .tab{
  cursor: pointer;
  border: 1px solid white;
  border-bottom: 0px;
  border-left: 0px;
  color: white;
  background-color: #B22222;
}

.sidebar .sidebar-tab.inactive{
  display: None;
}

.sidebar-navigation .tab:hover, .sidebar-navigation .tab.active{
  background-color: #FA8072
}

.sidebar-navigation .tab.first-tab{
  border-left: 1px solid white;
  border-top-left-radius: 10px;
}

.sidebar-navigation .tab.last-tab{
  border-top-right-radius: 10px;
}

.rolling-history h1{
  font-size: 20px;
  padding-top: 10px;
}

.roll h2{
  font-size: 15px;
  font-weight: bold;
  display: inline-block
}

.roll .description{
  font-size: 15px;
  margin-left: 5px;
  display: inline-block
}

.roll .result p{
  display: inline-block
}

.roll .result b{
  font-weight: bolder;
}

.rolling-history .rolls{
  max-height: 60vh;
  overflow-y: scroll;
}

.roll .result.unselected, .roll .result.unselected p, .roll .result.unselected i, .roll .result.unselected b{
  text-decoration: line-through;
}

.roll .result p{
  margin: 0;
}

.roll .result.selected{
  margin-bottom: 5px;
}

.settings-page .card{
  margin: 8px;
}

.settings-page .card input{
  display:inline-block;
}

.settings-page .setting .setting-progress-bar .progress>div{
  color:black;
  font-size: 1.1rem;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.pages .page-list{
  padding: 0px;
}

.pages .page-list li{
  list-style-type: none;
}

.pages .page-list li .page{
  padding: 15px;
}

.pages .page-list li.light .page{
  background-color: rgba(78, 78, 78, 0.2);
}

.pages .page-list li.dark .page{
  background-color: rgba(211, 211, 211, 0.2);
}

.pages .page-list li .page .clickable-icon{
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-list .controls{
  text-align: right;
}

.create-section{
  display: block;
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-section p{
  border-radius: 5px;
  color: white;
  background-color: #B22222;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
}

.create-section div {
  overflow: hidden;
  text-align: center;
}

.create-section div:before,
.create-section div:after {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.create-section div:before {
  right: 0.5em;
  margin-left: -50%;
}

.create-section div:after {
  left: 0.5em;
  margin-right: -50%;
}

.create-section p:hover{
  background-color: #FA8072;
}

.create-section-popover .content{
  margin-left: 5px;
  margin-right: 5px;
}

.create-section-popover .column-button{
  padding: 3px;
}

.create-section-popover .column-button div{
  border: 2px solid #B22222;
  width: 100%;
  text-align:center;
  font-weight: bold;
  color: #B22222;
  cursor: pointer;
}

.create-section-popover .column-button div:hover{
  border: 2px solid #FA8072;
  background-color: #FA8072;
  color: white;
}


.section-item{
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-item .row .col{
  border-left: 2px rgba(0, 0, 0, 0.4) dotted;
}

.section-item .row .col.last{
  border-right: 2px rgba(0, 0, 0, 0.4) dotted;
}


.page-read .section-item .row .col{
  border-left: none;
}

.page-read .section-item .row .col.last{
  border-right: none;
}

.section-item .column{
  margin: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section-item .component-items .component-item{
  padding-top: 20px;
  padding-bottom: 20px;
}


.create-component{
  display: block;
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-component i{
  border-radius: 5px;
  color: white;
  background-color: lightgrey;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
  margin: 0;
}

.create-component i:hover{
  background-color: grey;
}


.create-component div {
  overflow: hidden;
  text-align: center;
}

.create-component div:before,
.create-component div:after {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.create-component div:before {
  right: 0.5em;
  margin-left: -50%;
}

.create-component div:after {
  left: 0.5em;
  margin-right: -50%;
}



.create-component-popover .content,
.delete-component-popover .content,
.delete-text-popover .content,
.delete-section-popover .content,
.back-button-popover .content,
.delete-button-popover .content{
  margin-left: 5px;
  margin-right: 5px;
}

.create-component-popover .column-button,
.delete-component-popover .column-button,
.delete-text-popover .column-button,
.delete-section-popover .column-button,
.back-button-popover .column-button,
.delete-button-popover .column-button{
  padding: 3px;
}

.create-component-popover .column-button div,
.delete-component-popover .column-button div,
.delete-text-popover .column-button div,
.delete-section-popover .column-button div,
.back-button-popover .column-button div,
.delete-button-popover .column-button div{
  border: 2px solid #B22222;
  width: 100%;
  text-align:center;
  font-weight: bold;
  color: #B22222;
  cursor: pointer;
  padding-top: 5px;
}

.create-component-popover .column-button div:hover,
.delete-component-popover .column-button div:hover,
.delete-text-popover .column-button div:hover,
.delete-section-popover .column-button div:hover,
.back-button-popover .column-button div:hover,
.delete-button-popover .column-button div:hover{
  border: 2px solid #FA8072;
  background-color: #FA8072;
  color: white;
}

.create-component-popover .column-button div i,
.delete-component-popover .column-button div i,
.delete-text-popover .column-button div i,
.delete-section-popover .column-button div i,
.back-button-popover .column-button div i
.delete-button-popover .column-button div i{
  font-size: 1.5em;
}

.delete-component{
  display: block;
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.delete-component p{
  color: lightgrey;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
  margin: 0;
}

.delete-component p:hover{
  color: grey;
}

.delete-text{
  display: block;
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.delete-text p{
  color: lightgrey;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
  margin: 0;
}

.delete-text p:hover{
  color: grey;
}

.delete-section{
  display: block;
  width:100%;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.delete-section p{
  color: lightgrey;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
  margin: 0;
}

.delete-section p:hover{
  color: grey;
}

.delete-button.btn.btn-primary{
  margin: 0px 3px 0px 3px;
}

.delete-button.btn.btn-primary p{
  margin: 0;
}

.editable-table thead tr th input{
  font-weight: bold;
  border: none;
  overflow: auto;
  font-size: 1.3em;
  width: 80%;
  display: inline-block;
}

.editable-table tbody tr td input{
  font-weight: bold;
  border: none;
  overflow: auto;
  font-size: 1em;
}

.image-component{
  text-align: center;
  width:100%;
}

.image-component{
  display:inline-block;
  max-width: 100%;
}

.image-component div{
  width: 100%;
}

.image-component div input{
  display: inline-block;
  width: auto;
  padding-bottom: 10px;
}

.image-component img{
  padding-bottom: 10px;
  max-width: 100%;
}



.music-shortcode, .encounter-shortcode, .monster-shortcode, .page-shortcode, .map-shortcode{
  display: inline-block;
}

.music-shortcode i, .encounter-shortcode i, .monster-shortcode i, .page-shortcode i, .map-shortcode i{
  border-radius: 5px;
  color: #B22222;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
  margin: 0;
}

.music-shortcode i:hover, .encounter-shortcode i:hover, .monster-shortcode i:hover, .page-shortcode i:hover, .map-shortcode i:hover{
  color: #FA8072;
}

.music-shortcode-popover .content, .encounter-shortcode-popover .content, .monster-shortcode-popover .content, .page-shortcode-popover .content, .map-shortcode-popover .content{
  text-align: center;
}

.music-shortcode-popover .content .copy, .encounter-shortcode-popover .content .copy, .monster-shortcode-popover .content .copy, .page-shortcode-popover .content .copy, .map-shortcode-popover .content .copy{
  border-radius: 5px;
  color: white;
  background-color: #B22222;
  cursor: pointer;
  padding: 7px;
  display:inline-block;
  margin: 5px 0px 0px 0px;
}

.music-shortcode-popover .content .copy:hover, .encounter-shortcode-popover .content .copy:hover, .monster-shortcode-popover .content .copy:hover, .page-shortcode-popover .content .copy:hover, .map-shortcode-popover .content .copy:hover{
  background-color: #FA8072;
}

.play-music-button>div, .encounter-button>div, .item-button>a{
  cursor: pointer;
  color: white;
  background-color: #B22222;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  margin: 3px;
}

.play-music-button>div:hover, .encounter-button>div:hover, .item-button>a:hover{
  background-color: #FA8072;
}

.play-music-button>div p, .encounter-button>div p{
  margin: 0;
  display: inline-block;
  padding-left: 8px;
}

.item-button>a p{
  margin: 0;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}

.item-button-popover p{
  margin:0;
}

.page-list.read li{
  cursor: pointer;
}

.active-campaign-notes h1, .related-campaign-notes h1{
  padding-top: 10px;
  font-size: 20px;
}

.related-campaign-notes h2{
  font-size: 18px;
}

.related-campaign-notes .pages .page-list.read p{
  font-size: 15px;
}

.active-campaign-notes h1, .related-campaign-notes h1{
  display: inline-block;
}

.monster-link, .page-component-link{
  display: inline-block;
  color: #B22222;
  font-weight: bolder;
  cursor: pointer;
}

.monster-link:hover, .page-component-link:hover{
  color: #FA8072;
}

.collection-items .collection{
  padding-top: 4px;
  padding-bottom: 4px;
}

.campaign-page{
  margin-bottom: 30px;
}

.map .map-container .image-container{
  max-width: fit-content;
  display: inline-block;
  position:relative;
  width:100%;
}

.map .map-container{
  padding:30px;
  text-align:center;
}

.map .map-container .components-container{
  text-align:left;
}

.map .map-container .components-container button{
  margin: 0;
}

.map .map-container .components-container .filters{
  text-align:center;
}

.page-read .map .map-container{
  padding: 0px;
}

.map .map-container .image-container img{
  max-width: 100%;
}

.map .map-container .poi-player-title{
  width: 100%;
  position: relative;
  top: 0px;
  height: 0px;
  overflow: visible;
  font-size: 22px;
  font-weight: bold;
  color:white;
  z-index: 999;
  text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}

.map .map-instructions{
  width: 100%;
  text-align: center;
}

.map .map-instructions{
  width: 100%;
  text-align: center;
}

.map .map-instructions>i>i{
  padding-left: 5px;
  padding-right: 5px;
}

@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
.map .map-container .image-container canvas{
  max-width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
}

.map .map-container{
  width:100%;
  padding-bottom: 80px;
}

.map .map-container .creation-options {
  text-align: center;
  padding-bottom: 20px;
}

.map .map-container .source-image {
  display: none;
}

.map .map-container .creation-options button{
  margin: 5px;
}

.map .map-container .creation-options div{
  display: inline-block;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

.map .map-container .creation-options i{
  font-size: 80px
}

.map .map-container .creation-options hr{
  margin-top: 0px
}

.map .map-container .components-container{
  margin-top: 30px;
}

.map .map-container .components-container h2{
  font-size: 25px;
  padding-bottom: 15px;
}

.map .map-container .components-container .filters>div{
  display:inline-block;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border: 1px solid #B22222;
  border-radius: 5px;
  color: white;
  background-color: #B22222;
}

.map .map-container .components-container .filters>div:hover{
  border: 1px solid #FA8072;
  background-color: #FA8072;
}

.map .map-container .components-container .filters>div.active{
  border: 1px solid #FA8072;
  background-color: #FA8072;
}

.map .map-container .components-container .hide{
  display: none;
}

.map .map-container .components-container .highlighted{
  background-color: #FA8072
}

.map .map-container .components-container .item i{
  margin:0;
}

.map .map-container button{
  margin-top: 15px;
}

.map.player-read .map-container .image-container img{
  max-height: 100vh;
}

.map .map-phase-tabs>div{
  display: inline-block;
  margin : 2px;
  padding: 5px;
  background-color: #B22222;
  color: white;
  border-radius: 2px;
}

.map .map-phase-tabs>div.phase-tab.current{
  background-color: #FA8072;
  cursor: default;
}

.map .map-phase-tabs p{
  margin: 0;
}

.map .map-phase-tabs .phase-tab.object{
  cursor: pointer;
}

.map .map-phase-tabs .phase-tab .clickable-icon{
  color: white;
  margin: 0;
}

.page-read .text-component h2{
  font-size: 35px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2)
}

.page-read .text-component h3{
  font-size: 27px;
  display: inline-block;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1)
}

.custom-dice-roller .die img{
  max-width: 100%;
}

.custom-dice-roller .die{
  text-align:center;
}

.custom-dice-roller .die p{
  font-weight: bold;
}

.custom-dice-roller .options .option{
  display:inline-block;
  max-width: 60px;
  min-width: 50px;
  margin: 0px 5px 0px 5px;
}

.campaign-page .collections-items .collections-list{
  list-style: none;
  padding-left: 0;
}

.campaign-page .collections-items .collections-list li{
  padding: 10px 0 10px 0;
}

.login-title{
  text-align: center;
}

.login-selection{
  max-width: 800px;
  width:100%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px;
  padding: 30px 50px 30px 50px;
}

.login-selection .option{
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 10px;
  margin: 20px 0px 20px 0px;
  border: 1px solid #B22222;
  border-radius: 10px;
  color:#B22222;
  cursor: pointer;
  font-weight: bold;
}

.login-selection .option:hover{
  border: 1px solid #FA8072;
  color: #FA8072;
  cursor: pointer;
}

.login-selection .option i{
  font-size: 80px;
  display: inline-block;
  padding-right: 40px;
}

.login-selection>div p{
  font-size: 20px;
  display: inline-block;
}

.login-selection>form{
  max-width: 500px;
  display:inline-block;
  width:100%;
}

.login-selection>form .error{
  color: #B22222;
}

.login{
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display:flex;
  justify-content:center;
  text-align: center;
  align-items:center;
}

.login-selection .character-selection .character{
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.list-selector>div, .list-with-notes>div{
  display: block;
  width: 100%;
  min-height: 30px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.list-selector .list-selector-item{
  display: inline-block;
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
}

.list-with-notes .list-selector-item{
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
}


.list-selector .list-selector-item p, .list-with-notes .list-selector-item p{
  margin: 0;
  padding: 0;
}

.list-selector .list-selector-item .clickable-icon, .list-with-notes .list-selector-item .clickable-icon{
  margin: 0;
  padding-right: 5px;
}

.monster-create img{
  max-height: 250px;
  display: block;
}

.session-container{
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 8px;
  padding: 5px;
  margin: 2px;
}

.session-container .session-description{
  text-align:center;
}

.session-container .session-description h3{
  font-size: 20px;
}

.player-page.hidden {
  display: none;
}

.session-container .session-description .session-key{
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.8);
  background-color: rgba(220, 220, 220, 0.8);
  color: black;
  font-size: 25px;
  padding: 20px 0px 20px 0px;
  margin-top: 10px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.session-ended{
  background-color: #FF6347;
  font-size: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.battlemap .battlemap-container{
  width: max-content;
}

.battlemap .battlemap-container .battlemap-row{
  display: block;
}

.battlemap .battlemap-container .battlemap-row .battlemap-cell{
  display: inline-block;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.battlemap .battlemap-container .battlemap-row .battlemap-cell.row-end{
  border-bottom: 1px solid black;
}

.battlemap .battlemap-container .battlemap-row .battlemap-cell.column-end{
  border-right: 1px solid black;
}

.battlemap .battlemap-container .battlemap-row .battlemap-cell.editing{
  cursor: pointer
}

.battlemap .battlemap-container .battlemap-row .battlemap-cell.marked{
  background-color: rgba(178, 34, 34, 0.5);
}

.battlemap .battlemap-play .battlemap-controls>div{
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: #B22222;
  border-radius: 5px;
  color: white;
}

.battlemap .battlemap-play .battlemap-controls>div.active{
  background-color: #FA8072;
}

.battlemap .battlemap-container .battlemap-row .battlemap-cell.editing:hover{
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

@keyframes border-pulse {
  50% {
    -moz-box-shadow:    inset 0 0 10px rgba(255, 0, 0, 1);
    -webkit-box-shadow: inset 0 0 10px rgba(255, 0, 0, 1);
    box-shadow:         inset 0 0 10px rgba(255, 0, 0, 1);
  }
}


.battlemap .battlemap-container .battlemap-row .battlemap-cell.blocked {
  -moz-box-shadow:    inset 0 0 30px rgba(255, 0, 0, 1);
  -webkit-box-shadow: inset 0 0 30px rgba(255, 0, 0, 1);
  box-shadow:         inset 0 0 30px rgba(255, 0, 0, 1);
  animation: border-pulse 2s infinite;
}

/*
.battlemap .battlemap-container .battlemap-row .battlemap-cell.blocked{
  background-image: 
  repeating-linear-gradient(
    -45deg, 
    RGBA(0,0,0,0.2), 
    RGBA(0,0,0,0.2) 5%,
    RGBA(255,255,255,0.2)  5%,
    RGBA(255,255,255,0.2)  10%
  );
  background-size: 200% 200%;
  animation: barberpole 5s linear infinite;
}*/

.battlemap .battlemap-container{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.battlemap .battlemap-object{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid #B22222;
}

.battlemap .battlemap-object.friend{
  border: 4px solid #FA8072;
}

.battlemap .battlemap-object.foe{
  border: 4px solid #B22222;
}

.battlemap .battlemap-object-image{
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.battlemap .battlemap-play h2{
  font-size: 1.2rem;
}

.battlemaps-search .battlemaps,
.battlemap .battlemaps{
  display: flex;
  flex-wrap: wrap;
}


.battlemaps-search .battlemaps .battlemap-search-item,
.battlemap .battlemaps .battlemap-search-item{
  display: inline-block;
  margin: 5px;
}

.battlemaps-search .battlemaps .battlemap-search-item .card,
.battlemap .battlemaps .battlemap-search-item .card{
  height: 100%;
  max-width: 10vw;
}

.battlemaps-search .battlemaps .battlemap-search-item .card .btn,
.battlemap .battlemaps .battlemap-search-item .card .btn{
  margin: 2px;
}

.combat .tabs{
  display: flex;
  text-align:center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border-bottom: solid 2px #B22222;
  margin-bottom: 5px;
}

.combat .tabs .tab{
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  background-color: #B22222;
  margin: 0px 1px 0px 1px;
}

.combat .tabs .tab p{
  padding: 0px;
  margin: 0px;
}

.combat .tabs .tab.first-tab{
  border-top-left-radius: 15px;
}

.combat .tabs .tab.last-tab{
  border-top-right-radius: 15px;
}

.combat .tabs .tab:hover, .combat .tabs .tab.active{
  cursor: pointer;
  background-color: #FA8072;
}

.map .map-container .map-share, .combat .combat-share{
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  font-size: 22px;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
  background-image: 
  repeating-linear-gradient(
    -45deg, 
    transparent, 
    transparent 1rem,
    #FFA500 1rem,
    #FFA500 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 30s linear infinite;
  animation-play-state: paused;
  cursor: pointer;
}


.map .map-container .map-share.sharing, .combat .combat-share.sharing{
  font-size: 22px;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
  background-image: 
  repeating-linear-gradient(
    -45deg, 
    transparent, 
    transparent 1rem,
    #FFA500 1rem,
    #FFA500 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 30s linear infinite;
  animation-play-state: running;
}

.campaign-page .collections-list .collection-share{
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  font-size: 22px;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
  background-image: 
  repeating-linear-gradient(
    -45deg, 
    transparent, 
    transparent 1rem,
    #d3d3d3  1rem,
    #d3d3d3  2rem
  );
  background-size: 200% 200%;
  animation: barberpole 30s linear infinite;
  animation-play-state: paused;
  cursor: pointer;
}


.campaign-page .collections-list .collection-share.sharing{
  font-size: 22px;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
  background-image: 
  repeating-linear-gradient(
    -45deg, 
    transparent, 
    transparent 1rem,
    #FFA500 1rem,
    #FFA500 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
  animation-play-state: running;
}

.item-page .item img{
  max-width: 100%;
}

.item-page .item .type-rarity span{
  padding: 3px;
  font-style: italic;
}

.item-page .item table{
  width: 100%;
}

.item-page .item table thead{
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.item-page .item table tbody{
  text-align: center;
}

.item-page .item table th, .item-page .item table td{
  border: 1px solid #edeae8;
  padding: 5px;
}

.item-page .item table tbody tr:nth-child(odd) {
  background: #faf8f7;
}

.item-avatar img{
  max-height: 200px;
  max-width: 100%;
  padding: 10px;
}

.player-page .tab-controls{
  display: flex;
  text-align:center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border-bottom: solid 2px #B22222;
  margin-bottom: 5px;
}

.player-page .tab-controls .tab-control{
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  background-color: #B22222;
  margin: 0px 1px 0px 1px;
}

.player-page .tab-controls .tab-control.first-tab{
  border-top-left-radius: 15px;
}

.player-page .tab-controls .tab-control.last-tab{
  border-top-right-radius: 15px;
}

.player-page .tab-controls .tab-control:hover, .player-page .tab-controls .tab-control.active{
  cursor: pointer;
  background-color: #FA8072;
}

.player-page .session-tab.inactive{
  display: none;
}

.page-container .user-character h2{
  font-size: 1.1rem;
}

.page-container .user-character img{
  max-width: 100%;
  border-radius: 5px;
}

.chat-box .chat-messages{
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
}

.chat-box .chat-messages img{
  max-width: 100%;
  padding: 2px;
}

.headers .clickable-div{
  display: inline-block;
  padding-left: 5px;
}

.race-page .race-items .race-item, .race-page .sub-race-items .sub-race-item{
  border: solid 1px #dedede;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.race-page .sub-race-items .sub-race-item{
  margin-left: 20px;
}

.race-page .race-items .race-item .race-name, .race-page .sub-race-items .sub-race-item .race-name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
}

.race-page .race-items .race-item .race-button, .race-page .sub-race-items .sub-race-item .race-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.race-page .race-items .race-item .race-button i, .race-page .sub-race-items .sub-race-item .race-button i{
  font-size: 40px;
}

.race-page .race-items .race-item .race-image, .race-page .sub-race-items .sub-race-item .race-image{
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 8px;
}

.race-page .race-items .race-item .race-info, .race-page .sub-race-items .sub-race-item .race-info{
  display: flex;
  align-items: center;
}

.race-page .create-race .race-settings{
  margin-bottom: 25px;
}

.race-page .create-race .race-avatar img{
  max-width: 100%;
  max-height: 200px;
}

.race-page .create-race .race-portrait{
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.option-items .option-item{
  width: 100%;
}

.option-items .option-item{
  background-color: #fcfcfc;
}

.option-items .option-item,
.race-page .create-race .racial-trait-items .racial-trait-item{
  border: solid 1px #dedede;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.option-items .option-item .option-name,
.race-page .create-race .racial-trait-items .racial-trait-item .racial-trait-name{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.option-items .option-item .option-snippet,
.race-page .create-race .racial-trait-items .racial-trait-item .racial-trait-snippet{
  display: flex;
  align-items: center;
}

.option-items .option-item .option-dropper,
.race-page .create-race .racial-trait-items .racial-trait-item .racial-trait-dropper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
}

.option-items .option-item .list-title,
.race-page .racial-trait-items .racial-trait-item h4{
  font-size: 20px;
}

.background-page .background h4>span,
.item-page .item h4>span,
.option-items .option-item h4>span,
.race-page .racial-trait-items .racial-trait-item h4>span,
.race-page .create-race h3>span,
.spell .spell-settings h4>span{
  margin-left: 10px;
  margin-right: 10px
}

.single-race .avatar{
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.option-items .option-item h4>span.dropper,
.race-page .racial-trait-items .racial-trait-item h4>span.dropper,
.spell .spell-settings .dropper,
.modifier-edit .dropper,
.class .resource-dropper,
.class h4>span.dropper,
.class .class-feature-dropper{
  float:right;
}

.mapping-items>.mapping-item:nth-child(even),
.equipment-set-group-items>.equipment-set-group-item:nth-child(even),
.property-list>.property-item:nth-child(even),
.at-higher-level-items>.at-higher-level-item:nth-child(even),
.modifier-items>.modifier-item:nth-child(even),
.action-items>.action-item:nth-child(even),
.condition-items>.condition-item:nth-child(even) {
  background: #faf8f7;
}

.mapping-items>.mapping-item,
.equipment-set-group-items>.equipment-set-group-item,
.property-list>.property-item,
.at-higher-level-items>.at-higher-level-item,
.action-items>.action-item,
.modifier-items>.modifier-item,
.condition-items>.condition-item{
  border: #e5e5e5 solid 1px; 
}

.property-list>.property-item,
.condition-items>.condition-item,
.at-higher-level-items>.at-higher-level-item,
.modifier-items>.modifier-item,
.action-items>.action-item {
  padding: 5px 0px 5px 0px;
}

.list-toggle{
  width:100%;
  display: flex;
  align-items: center;
}

.list-toggle .list-toggle-item{
  padding: 10px 12px 10px 12px;
  border: 1px solid #B22222;
  cursor: pointer;
  margin: 5px;
  border-radius: 2px;
  color: black
}

.list-toggle .list-toggle-item p{
  margin: 0;
  padding: 0;
}

.list-toggle .list-toggle-item.inactive:hover{
  background-color: #FA8072;
  color: white;
}

.list-toggle .list-toggle-item.active{
  background-color: #B22222;
  color: white;
}

.spell-page .spell-data .components span{
  margin: 0px 3px 0px 3px;
}

.spell-page .spell-data h3{
  font-weight: bold;
  font-size: 18px;
}

.spell-page .spell-data .tags span{
  margin: 0px 3px 0px 3px;
  font-size: 0.85rem;
  border: 1px solid #cbc6c3;
  box-shadow: inset 0 0 4px 0 #dcd1c7;
  padding: 2px 6px;
}

.campaign-search .campaign-items .headers p{
  font-size: 1.2em;
  padding-bottom: 10px;
}

.campaign-search .campaign-items .campaign-item{
  padding-bottom: 10px;
}

.class-page .class .class-settings h4{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.background-page .background .table-data{
  width: 100%;
}

.background-page .background .table-data td,
.background-page .background .table-data .headers td,
.background-page .background .table-data td input{
  padding-left: 15px;
  text-align: left;
}

.background-page .background .table-data td.action-column{
  width: 80px;
}


.background-page .background .table-data .headers td.action-column .clickable-icon{
  color: white;
}

.table-data .headers{
  text-align: center;
  font-weight: bold;
  background-color: #B22222;
  color: white;
}

.table-data .headers td{
  padding-top: 12px;
  padding-bottom: 12px;
}

.table-data td{
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #ddd;
}

.table-data input{
  text-align: center;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.table-data tbody tr:nth-child(even){
  background-color: #f2f2f2
}

.class-page .class .resource-items .resource-item .resource-dropper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
}


.class-page .class .resource-items .resource-item h4>span, .class-page .class h4>span{
  margin-left: 10px;
  margin-right: 10px
}

.class-page .class .resource-items .resource-item{
  border: solid 1px #dedede;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.class-page .class .resource-items .resource-item .resource-name{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.class-page .class .resource-items .resource-item .resource-reset-type{
  display: flex;
  align-items: center;
}


.class-page .class .class-feature-items .class-feature-item .class-feature-dropper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
}

.class-page .class .class-feature-items .class-feature-item h4>span, .class-page .class h4>span{
  margin-left: 10px;
  margin-right: 10px
}

.class-page .class .class-feature-items .class-feature-item{
  border: solid 1px #dedede;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}

.class-page .class .class-feature-items .class-feature-item .class-feature-name{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.class-page .class .class-feature-items .class-feature-item .class-feature-level{
  display: flex;
  align-items: center;
}


.content-collection-page .content-collection-item.row>div{
  text-align:center;
}

.content-collection-page .content-collection-item .details{
  text-align: center
  
}

.content-collection-page .content-collection-item .details div{
  display: inline-block;
  padding: 20px 20px 0px 20px;
  text-align: center;
  color: #B22222;
}

.content-collection-page .content-collection-item .details i{
  font-size: 40px
}


.content-collection-page .content-collection-item.row .content-collection-name,
.content-collection-page .content-collection-item.row .content-collection-created-by{
  font-size: 22px;
  color:black;
  text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.content-collection-resources{
  margin-top: 20px;
  margin-bottom: 20px;
}

.images-page .images{
  display: flex;
  flex-wrap: wrap;
}

.images-page .images img{
  max-height: 300px;
  max-width: 300px;
  width: auto;
  height: auto;
}

.images-page .images .image-item{
  text-align:center;
}

.images-page .images .image-item .card{
  height: 100%;
  max-width: 12vw;
}

.image-upload-modal .modal-dialog{
  width: 80vw;
  max-width:80vw;
}

.image-upload-modal .modal-dialog .images{
  display: flex;
  flex-wrap: wrap;
}

.image-upload-modal .modal-dialog .images .card{
  height: 100%;
  max-width: 15vw;
}

.image-upload-modal .modal-dialog .images img{
  max-height: 300px;
  max-width: 300px;
  width: auto;
  height: auto;
}

.spell-select h2{
  font-size: 20px;
}

.spell-select .list-selector .list-selector-item{
  width: auto;
}

.modal-header{
  font-size: 2em;
}

.map-page .map-items{
  display: flex;
  flex-wrap: wrap;
}

.map-page .map-items .map-item{
  display: inline-block;
  margin: 5px;
}

.map-page .map-items .map-item .card{
  height: 100%;
  max-width: 10vw;
}

.map-page .map-items .map-item .card .btn{
  margin: 2px;
}

.spell-select-modal .modal-dialog,
.select-modal .modal-dialog{
  width: 80vw;
  max-width:80vw;
}

.property-items .property-item.disabled,
.item-items .item-item.disabled,
.collection-items .collection-item.disabled,
.spell-items .spell-item.disabled,
.audio-items .audio-item.disabled .card,
.monster-items .monster-item.disabled{
  background-color: #faf8f7;
}

.property-items .property-item,
.item-items .item-item,
.collection-items .collection-item,
.spell-items .spell-item,
.monster-items .monster-item{
  padding-top: 1rem;
}

.property-items .property-item>hr,
.item-items .item-item>hr,
.collection-items .collection-item>hr,
.spell-items .spell-item>hr,
.monster-items .monster-item>hr{
  margin-bottom: 0;
}

.map-select-modal.select-modal .map-items,
.battlemap-select-modal.select-modal .battlemap-items{
  display: flex;
  flex-wrap: wrap;
}

.map-select-modal.select-modal .map-items  .map-item,
.battlemap-select-modal.select-modal .battlemap-items  .battlemap-item{
  display: inline-block;
  margin: 5px;
}

.map-select-modal.select-modal .map-items  .map-item .card,
.battlemap-select-modal.select-modal .battlemap-items  .battlemap-item .card{
  height: 100%;
  max-width: 12vw;
}

.encounter .difficulty-button,
.modal-selector-container>button{
  margin-top: 3px;
  margin-bottom: 3px;
}

.equipment-set-group-items>.equipment-set-group-item{
  padding: 8px;
}

.equipment-set-group-items .equipment-set-group-item .form-label{
  width :100%;
}

.equipment-set-group-items .equipment-set-group-item .delete-button{
  float: right;
}

.equipment-set-group-items .equipment-set-group-item .equipment-set-group-option-items{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.equipment-set-group-items .equipment-set-group-item .equipment-set-group-option-item{
  max-width: 50%;
  width: 50%;
  display: inline-block;
}

.equipment-set-group-option-item .clickable-div.add-button{
  margin-left: 5px;
}

.equipment-set-group-option-item .item-label .modal-selector-container{
  display: inline-block;
}

.option-set-items .option-set-item{
  width: 100%;
}

.item-items .item-item .btn,
.background-items .background-item .btn{
  margin: 2px;
}

.dm-app .page-container{
  width: 100%;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.dm-app .sidebar-buttons{
  overflow: auto;
}

.dm-app .page-container .sidebar-section,
.dm-app .page-container .page-view-section{
  padding: 0px 15px 0px 15px;
  vertical-align: top;
  text-align: left;
}

.dm-app .page-container .page-view-section{
  display: inline-block;
  width: 67%;
}

.dm-app .page-container .page-view-section.one-collapsed{
  width: 83%;
}

.dm-app .page-container .page-view-section.two-collapsed{
  width: 99%;
}

.dm-app .page-container .sidebar-section{
  display: inline-block;
  width: 16%;
}

.dm-app .page-container .sidebar-section.collapsed{
  width: 0%;
  overflow: hidden;
  display: none;
}

.dm-app .page-container .page-view-section{
  flex-grow:1;
  display: inline-block;
}


.dm-app .sidebar-buttons>div{
  background-color: #B22222;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 3px;
  font-size: 1.2rem;
}

.dm-app .sidebar-buttons .left-sidebar-button{
  float: left;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-right: 8px;
}

.dm-app .sidebar-buttons .right-sidebar-button{
  float: right;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 8px;
}

.option-set-dropper{
  float: right;
}

.character-page .character-data.edit .character-avatar img{
  max-width: 300px;
}

.dnd-class-image{
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: none;
}

.character-class-data.edit .chevrons{
  font-size: 2em;
}

.character-class-data.edit .class-feature-item .chevrons{
  font-size: 1em;
}

.character-data.edit .single-race .avatar img{
  max-height: 300px;
}

.character-data.edit .skill-items .card,
.character-data.edit .feat-items .card,
.character-data.edit .equipment .card,
.character-data.edit .spell-page .card,
.character-data.edit .single-race .racial-trait-item .card,
.character-class-data.edit .class-feature-item .card{
  margin-bottom: 2px;
}

.character-data.edit .skill-items .card-title,
.character-data.edit .feat-items .card-title,
.character-data.edit .spell-page .card-title,
.character-data.edit .single-race .racial-trait-item .card-title,
.character-class-data.edit .class-feature-item .card-title{
  padding: 10px;
  font-size: 1em;
}

.character-data.edit .equipment .card-title{
  padding: 10px;
  font-size: 1.2em;
}

.character-data.edit .skill-items .card-body,
.character-data.edit .feat-items .card-body,
.character-data.edit .equipment .card-body,
.character-data.edit .spell-page .card-body,
.character-data.edit .single-race .racial-trait-item .card-body,
.character-class-data.edit .class-feature-item .card-body{
  border-top: 1px solid rgba(0,0,0,.125);
}

.character-data.edit .skill-items .card-title .chevrons,
.character-data.edit .feat-items .card-title .chevrons,
.character-data.edit .equipment .card-title .chevrons,
.character-data.edit .spell-page .card-title .chevrons,
.character-data.edit .single-race .racial-trait-item .card-title .chevrons,
.character-class-data.edit .class-feature-item .card-title .chevrons{
  font-size: 1.5em;
}

.character-class-data.edit .class-feature-item .selected-option{
  background-color:rgba(220, 220, 220, 0.8)
}

.character-data.edit .tabs{
  width: 100%;
  display: flex;
}

.character-data.edit .tabs span{
  display: flex;
  flex-grow: 1;
  justify-content:center;
  background-color: #B22222;
  color: white;
  font-size: 2em;
  cursor: pointer;
  margin: 3px;
}

.character-data.edit .tabs span.selected{
  background-color: #FF6347;
}

.formula-label, .allowed-variables{
  font-size: 0.9em;
}

.allowed-variables span{
  margin: 3px 3px 3px 3px;
  border: 1px solid #cbc6c3;
  box-shadow: inset 0 0 4px 0 #dcd1c7;
  padding: 2px 6px;
  display: inline-block
}

.fill-box{
  width: 30px;
  height: 30px;
  margin: 3px 3px 3px 3px;
  border: 1px solid #cbc6c3;
  box-shadow: inset 0 0 4px 0 #dcd1c7;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}

.fill-box .fill-box-filling{
  width: 18px;
  height: 18px;
  background-color: #B22222;
}
.fill-box .fill-box-no-filling{
  width: 18px;
  height: 18px;
}

.fill-box.small{
  width: 20px;
  height: 20px;
}
.fill-box.small .fill-box-filling{
  width: 12px;
  height: 12px;
}
.fill-box.small .fill-box-no-filling{
  width: 12px;
  height: 12px;
}

.character-data.edit .hit-points .card-title{
  padding: 10px;
  font-size: 1.2em;
  margin:0;
}

.character-data.edit .hit-points .card-body{
  padding: 10px;
}
.character-data.edit .hit-points table{
  margin-bottom: 10px;
}
.character-data.edit .hit-points td{
  padding: 3px;
  text-align: center;
}
.character-data.edit .hit-points input{
  max-width: 100px;
}
.character-data.edit .hit-points td.faded{
  color: #727170;
  font-weight: bold;
}
.character-data.edit .hit-points span{
  margin: 3px 3px 3px 3px;
  border: 1px solid #cbc6c3;
  box-shadow: inset 0 0 4px 0 #dcd1c7;
  padding: 2px 6px;
  display: inline-block
}
.character-data.edit .hit-points .rolled-hp input,
.character-data.edit .hit-points .rolled-hp label{
  display: inline-block;
}
.character-data.edit .hit-points .rolled-hp input{
  max-width: 100px;
  margin-left: 10px;
}

.character-data.edit .skill-items td{
  padding: 4px;
  border-bottom: 1px solid #cbc6c3;
}

.character-data.edit .skill-items tr.titles{
  color: #727170;
  font-size: 0.8em;
}

.ability-score-display .ability-score-box{
  width: 100%;
  display: block;
  text-align: center;
}

.ability-score-display .ability-score-box span{
  width: 100%;
  display: block;
}

.ability-score-display .ability-score-box span:nth-child(1){
  color: #727170;
  font-weight: bold;
  font-size: 0.8em;
}
.ability-score-display .ability-score-box span:nth-child(2){
  font-size: 1.5em;
  font-weight: bold;
}
.ability-score-display .ability-score-box span:nth-child(3){
  font-size: 0.8em;
}

.character-data.edit.view-mode .row>div .card{
  margin-bottom: 30px;
}
.character-data.edit.view-mode .character-sheet-section .card .card-body{
  border-top: 1px solid rgba(0,0,0,.125);
}
.character-data.edit.view-mode .character-sheet-section .card .card-title{
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

.saving-throw-display .single-saving-throw{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
  padding: 3px;
  text-align: center;
}
.saving-throw-display .single-saving-throw span{
  margin: 3px;
}
.saving-throw-display .single-saving-throw span:nth-child(1){
  color: #727170;
  font-weight: bold;
}
.saving-throw-display .single-saving-throw span:nth-child(2){
  font-size: 1.2em;
  font-weight: bold;
}
.saving-throw-display .advantage-container{
  margin-top: 5px;
}
.sense-display{
  text-align: center;
  width: 1
}
.sense-display .single-passive-sense{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
  margin: 3px;
}
.sense-display .single-passive-sense  span{
  margin: 3px;
}
.sense-display .single-passive-sense  span:nth-child(1){
  font-size: 1em;
  font-weight: bold;
}
.sense-display .single-passive-sense  span:nth-child(2){
  color: #727170;
  font-size: 0.8em;
  font-weight: bold;
}

.proficiencies-display .proficiencies-set{
  margin-bottom: 8px;
  padding-bottom: 8px;
}.proficiencies-display .proficiencies-set.lined{
  border-bottom: 1px solid #cbc6c3;
}
.proficiencies-display .proficiencies-set p{
  margin-bottom: 0;
  color: #727170;
  font-weight: bold;
}
.proficiencies-display .proficiencies-set span{
  margin: 3px 3px 3px 3px;
  border: 1px solid #cbc6c3;
  box-shadow: inset 0 0 4px 0 #dcd1c7;
  padding: 2px 6px;
  display: inline-block
}

.experience-display{
  margin-bottom: 10px;
}
.experience-display .levels{
  display: flex;
  justify-content: space-between;
}
.experience-display .levels span{
  display: flex;
  color: #727170;
  font-weight: bold;
  font-size: 0.8em;
}
.experience-display .experience-bar-container{
  width: 100%;
  border: 1px solid #cbc6c3;
  height: 8px;
}
.experience-display .experience-bar-container .experience-bar{
  background-color: #B22222;
  height: 8px;
}
.experience-display .experience{
  text-align:center;
  color: #727170;
  font-weight: bold;
  font-size: 0.8em;
}

.prof-icon{
  color: #B22222;
}
.advantage-icon{
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: green;
  margin-left: 3px;
  margin-right: 3px;
}
.disadvantage-icon{
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: #B22222;
  margin-left: 3px;
  margin-right: 3px;
}
.advantage-placholder{
  width: 20px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.character-data.edit .view-tabs{
  width: 100%;
  display: flex;
  justify-content: center;
}

.character-data.edit .view-tabs span{
  display: flex;
  justify-content:center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin: 3px;
  color: #727170;
}

.character-data.edit .view-tabs span.selected{
  border-bottom: 3px solid #B22222;
  color: #B22222;
}
.character-data.edit.view-mode .row>div .item-page .item{
  margin-bottom: 0;
}
.character-data.edit.view-mode .row>div .item-page .item .card-title{
  font-size: 1em;
  margin-bottom: 0px;
}
.character-data.edit.view-mode .row>div .item-page .item .card-title .chevrons{
  font-size: 1em;
}

.features-display .sub-section,
.action-display .sub-section{
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #cbc6c3;
  color:#B22222;
  font-size: 1.2em;
}
.features-display .single-feature .title,
.action-display .single-action .title{
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
}
.action-display .single-action .snippet{
  margin-bottom: 5px
}
.action-display .limited-use .fill-box-container{
  display: inline-block;
}

.action-display .single-action blockquote {
  border-left: 5px solid #ccc;
  margin: 10px 10px;
  padding: 0.5em 10px;
}
.action-display .single-attack-action .notes-container{
  max-width: 25%;
}
.action-display .single-attack-action .long-range,
.action-display .single-attack-action .notes,
.action-display .single-attack-action .damage-type{
  color: #727170;
  font-size: 0.7em;
}
.action-display .action-table{
  width: 100%;
  margin-bottom: 10px;
}
.action-display .action-table tr:nth-child(1){
  font-weight: bold;
  border-bottom: none;
}

.action-display .action-table tr{
  border-bottom: 1px solid #cbc6c3;
}

.action-display .action-table td{
  padding: 5px 0;
}

.other-stats-display .other-stats-box{
  width: 100%;
  display: block;
  text-align: center;
}
.other-stats-display .other-stats-box span{
  width: 100%;
  display: block;
}
.other-stats-display .other-stats-box span.faded{
  color: #727170;
  font-weight: bold;
  font-size: 0.8em;
}
.other-stats-display .other-stats-box span:nth-child(2){
  font-size: 1.5em;
  font-weight: bold;
}

.spell-display .sub-section{
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #cbc6c3;
  color:#B22222;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.spell-display .sub-section span{
  display: flex;
}
.spell-display .sub-section .fill-boxs{
  display: flex;
}
.spell-display .sub-section .fill-box-container{
  display: inline-block;
}
.spell-display .spell-table{
  width: 100%;
  margin-bottom: 10px;
}
.spell-display .spell-table tr:nth-child(1){
  font-weight: bold;
  border-bottom: none;
}

.spell-display .spell-table tr{
  border-bottom: 1px solid #cbc6c3;
}
.spell-display .spell-table tr.details{
  border-bottom: none;
  background-color: #f9f7f6;
}
.spell-display .spell-table tr.clickable{
  cursor: pointer;
}
.spell-display .spell-table tr.details td .collapse>div{
  margin: 10px;
}
.spell-display .spell-table tr.details td{
  padding: 0;
}
.spell-display .spell-table td{
  padding: 5px 0;
}
.spell-display .notes{
  color: #727170;
  font-size: 0.7em;
}
.spell-display .sub-effect{
  color: #727170;
  font-size: 0.7em;
}
.spell-display .spell-table tr .save-dc span:nth-child(1){
  color: #727170;
  font-size: 0.7em;
  display: block;
}

.spell-display .spell-table tr.details .spell-modifier{
  padding: 5px 0;
}
.spell-display .spell-table tr.details .spell-modifier div:nth-child(1){
  font-weight: bold;
}

.character-data.edit .spinner{
  width: 100%;
  margin-top: 20vh;
  text-align: center;
}
.character-data.edit .spinner i {
  font-size: 7em;
}

.music-page .track-table{
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.music-page .track-table tr{
  border-bottom: 1px solid #cbc6c3;
}

.music-page .track-table tr:nth-child(odd) {
  background: #faf8f7;
}

.music-page .track-table tr.active{
  background: greenyellow;
}

.music-page .track-table td{
  padding: 5px;
}

.effect-deck-icons{
  width: 100%;
  font-size: 1.3em;
  border: 1px solid #cbc6c3;
  box-shadow: inset 0 0 4px 0 #dcd1c7;
  border-radius: 5px;
  max-height: 250px;
  overflow-y: scroll;
}

.effect-deck-icons .icon_section{
  text-align: left;
}

.sound-deck-container,
.effect-deck-icons .icon_section .icon_selection{
  display: flex;
  flex-flow: row wrap;
}

.sound-deck-button,
.effect-deck-icons .icon_section .icon {
  border:#B22222 1px solid;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  color: #B22222;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}

.effect-deck-icons .icon_section .icon.selected:hover,
.effect-deck-icons .icon_section .icon.selected{
  border:#FF6347 1px solid;
  background-color: #FF6347;
  color: white;
}

.sound-deck-button:hover,
.effect-deck-icons .icon_section .icon:hover{
  background-color: #B22222;
  color: white;
}

.sound-deck-button i,
.effect-deck-icons .icon_section .icon i{
  display: inline-block;
  width: 100%;
}

.effect-deck.audio-items .audio-item{
  display: block;
  width:100%;
}

.sound-deck-component-container{
  width:100%;
  text-align: center;
}

.sound-deck-component .title{
  font-weight: bold;
  font-size: 1.2em;
}

.sound-deck-component{
  display: inline-block;
  border-radius: 10px;;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  padding: 10px;
}

@media print {
  .sidebar-section, .header, .footer, .navigation-bg, .image-component .share-button, .page-bg>div>div>h2, .page-read>hr, .collapsible{
    display: none !important;
  }

  .page-view-section{
    max-width: 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }

  .component-item {
    page-break-inside: avoid;
  }

  .section-item {
    page-break-after: always;
  }

  .page-read>h2{
    font-size: 40px;
  }
}

/*Resizing for different screens*/
@media only screen and (max-width: 1920px) {
  .sidebar-navigation i{
    font-size: 18px;
  }

  .navigation-bg i{
    font-size: 60px
  }

  .footer{
    font-size: 12px;
  }
  .character.card .card-text{
    font-size: 0.8rem;
  }

  .footer .copyright{
    margin: 7px;
  }

  .footer .clickable-icon, .clickable-icon-alt{
    margin: 7px;
  }

  a.btn.btn-primary, .delete-button.btn.btn-primary, button.btn.btn-primary{
    font-size: 0.8rem;
  }

  .page-read .text-component h2{
    font-size: 25px;
  }

  .page-read p{
    font-size: 14px;
  }

  .pages .page-list li .page{
    padding:8px;
  }
  .related-campaign-notes .pages .page-list.read p{
    font-size: 14px;
  }

  .page-container .siderbar>div>h1{
    font-size: 0.7em;
  }

  .page-read .map .map-container .components-container .filters .clickable-div{
    font-size: 12px;
    margin: 3px;
  }

  .page-read .map .map-container .components-container .filters .clickable-div p{
    margin-bottom: 4px;
  }

  .map .map-container .components-container .item p{
    margin-bottom: 4px;
  }

  .character-tracker .character.card .card-title{
    font-size: 13px;
  }

  .page-bg{
    font-size: 13px;
  }

  .combat-members-items .combat-members-item input{
    font-size: 13px;
    padding: 3px 6px 3px 6px;
    height: calc(2rem + 2px);
  }

  .combat-controls .combat-button .btn.btn-primary{
    font-size: 12px;
  }

  .chat-messages{
    font-size: 0.9rem;
  }
  
}

@media only screen and (max-width: 992px) {
  .navigation-bg i{
    font-size: 40px
  }
  
}